@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Handlee&family=Mochiy+Pop+P+One&family=Noto+Sans&family=Orelega+One&family=PT+Sans+Narrow&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h2 {
    font-size:medium;
}

/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background: black;
} */

.img_zoz-container{
    display: flex;
    width: 130%;
    Justify-content: left;
    align-items: left;
}

@font-face {
    font-family: Atures300;
    src: url(Atures-300_PERSONAL_USE.ttf);
}

.title_zoz{
    align-self: center;

}

/* .scaleDown_Zoz {
    animation: scaleDown_Zoz 1.5s ease-out;
    animation-iteration-count: 1;
    opacity: 1.0;
    transform: scale(1.3);
  }

@keyframes scaleDown_Zoz {
    0% {
      opacity: 0;
      transform: scale(3.0);
    }
     60% {
      opacity: 0;
      transform: scale(3.0);
    } 
    
    100% {
      opacity: 1;
      transform: scale(1.3);
    }
  }

  .scaleDown_line1 {
    animation: scaleDown_line1 1s ease-out;
    animation-iteration-count: 1;
    opacity: 1.0;
    transform: scale(1);
  }

@keyframes scaleDown_line1 {
    0% {
      opacity: 1;
      transform: scale(3.0);
    }
    
    100% {
      opacity: 1;
      transform: scale(1.0);
    }
  }

  .hide_5s {
    animation: hide_5s 2s ease-in;
    animation-iteration-count: 1;
    
    opacity: 1;
    transform: scale(1);
  }

  @keyframes hide_5s {
    0%{
        opacity: 0;
    }

    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
   */

@media only screen and (max-width: 992px) {
    .navbar-nav.navbar-center {
        position: relative;
    }
}

.nav-name {
    font-size: 1.6rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.nav-element {
    font-size: 1.2rem;
    padding-right:15px ;
    font-family: 'Roboto', sans-serif;

}

.main-intro {
    padding-top: 8rem;
    padding-bottom: 0;
    margin: 0;
}

.text-container {
    background-color: #FFAB76;
}

.h1-main {
    font-size: 5.4rem;
    font-weight: bolder;
    font-family: 'Roboto', cursive;
}

.h2-main {
    font-size: 4rem;
    font-weight: bolder;
    font-family: 'Atures300', cursive;
}

.h3-main {
    font-size: 2rem;
    font-family: 'Roboto', cursive;

}

.h4-main {
    font-size: 1.55rem;
    font-family: 'Roboto', cursive;

}

.h5-main {
    font-size: 1.5rem;
    font-family: 'Roboto', cursive;

}


.about-head {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .h1-main {
        font-size: 52px;
    }
    .h2-main{
        font-size: 30px;
    }
    .h3-main {
        font-size: 20px;
    }
    .h4-main {
        font-size: 15px;
    }
    .h5-main {
        font-size: 12px;
    }
    .img-fluid-carousel {
        height:400px ;
        margin: auto;
    }
}

@media only screen and (max-width: 576px) {
    .about-head{
        font-size: 2rem;
    }
}

.about-text {
    font-size: 1.6rem;
    font-family: 'Roboto', cursive;
}

@media only screen and (max-width: 1500px) {
    .about-text{
        font-size: 20px;
    }
}
.car-img {
    height: 36rem;
    margin: auto;
}

/* .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;

}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
} */

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #000000;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #000000;
}
.carousel-indicators .active {
    background-color: rgb(0, 0, 0);
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    filter: invert(100%);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    filter: invert(100%);
}

.h-effect:hover {
    cursor: pointer;
}


/* .shadowed {
    /*box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.55);
} */

.btn-custom {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    color: yellow;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .03rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-custom:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    border-radius: 1rem;
    z-index: -2;
}

.btn-custom:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: green;
    transition: all .3s;
    border-radius: 1rem;
    z-index: -1;
}

.btn-custom:hover {
    color: white;
}

.btn-custom:hover:before {
    width: 100%;
}

/*Starting Events Section padding*/
#Events, #MainEvents {
    padding: 0 7em;
}

@media (max-width: 1070px) {
    #Events .card-body {
        padding: 0;
    }

    #Events {
        padding: 0 5em;
    }

    #MainEvents .card-body {
        padding: 0;
    }

    #MainEvents {
        padding: 0 5em;
    }

}

@media (max-width: 765px) {
    #Events, #MainEvents {
        padding: 0 4em;
    }
}

@media (max-width: 400px) {
    #Events, #MainEvents {
        padding: 0 3em;
    }
}
/*Ending Events Section padding*/

#Events .card {
    max-width: 250px;
    padding: 0 5%;
}

#Events #MainEvents .card {
    max-width: 250px;
    padding: 0 5%;
}

@media (max-width: 765px) {
    #Events .card {
        padding: 0 0;
    }

    #MainEvents .card {
        padding: 0 0;
    }
}

@media (min-width: 1200px) {
    #Events .card {
        max-width: 70%;
    }

    #MainEvents .card {
        max-width: 70%;
    }
}



#Events {
    font-size: 1em;
}

#Events .event-heading {
    font-size: 1.6em;
}

#Events .card .card-img-top {
    max-height: 400px;
    max-width: 286px;
}

#MainEvents {
    font-size: 1em;
}

#MainEvents .event-heading {
    font-size: 1.6em;
}

#MainEvents .card .card-img-top {
    max-height: 400px;
    max-width: 286px;
}

@media (min-width: 576px) {
    #EventsHeader {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}

@media (min-width: 576px) {
    #MainEventsHeader, #MerchHeader {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}


.enlarge-on-hover {
    transition: transform .25s;
}

.enlarge-on-hover:hover {
    transform: scale(1.05);
}

.domain-heading {
    /*font-family: 'Satisfy', cursive;*/
    /* font-family: 'Source Serif Pro', serif; */
    font-family: 'Roboto', cursive;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
}

/* Decreasing the size of the icon in the Heads */
#Team div div div div div div p i {
    font-size: 0.85em;
}

.person-info {
    /*font-family: 'Satisfy', cursive;*/
    /* font-family: 'Source Serif Pro', serif; */
    /* font-family: 'Handlee', cursive; */
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

/* Decreasing the space between the Head Name and the phone number */
.person-info p {
    margin-top: -0.3em;
}

@media (max-width: 576px) {
    .domain-heading {
        font-size: 1.7rem;
    }

    .person-info {
        font-size: 1.35rem;
        margin-bottom: 1rem;
    }
}

.general-guidelines-cont{
    padding: 0 22rem;
    font-size: 1.3rem;
}

@media (max-width: 1286px) {
    .general-guidelines-cont{
        padding: 0 15rem;
    }
}
@media (max-width: 1026px) {
    .general-guidelines-cont{
        padding: 0 10rem;
    }
}
@media (max-width: 826px) {
    .general-guidelines-cont{
        padding: 0 5rem;
    }
}
@media (max-width: 526px) {
    .general-guidelines-cont{
        padding: 0 3rem;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 2063px;
    }
}

@media (min-width: 768px) and (max-width : 1200px){
    .container, .container-md, .container-sm {
        max-width: 885px;
    }
}

.social-icon:hover{
    fill: rgb(240, 231, 231);
}

/* Event card css  */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    /* border-radius: 10px; */
    /* margin: 0 0 2rem 0; */
    overflow: hidden;
    position: relative;
    color: #ffffff;
}
.postcard.dark {
    background-color: #18151f;
}
.postcard.light {
    background-color: #e1e5ea;
}
.postcard .t-dark {
    color: #18151f;
}
.postcard a {
    color: inherit;
}
.postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.postcard .small {
    font-size: 80%;
}
.postcard .postcard__title {
    font-size: 1.75rem;
}
.postcard .postcard__img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: relative;
}
.post_img{
    width: 110%;
    height: 400px;
    display: flex;
    justify-content: center;
    object-fit: contain;
}
.postcard .postcard__img_link {
    display: contents;
}
.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}
.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}
.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }
    .postcard .postcard__title {
        font-size: 2rem;
    }
    .postcard .postcard__tagbox {
        justify-content: start;
    }
    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }
    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}
@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark .postcard__text:before {
        background: #18151f;
    }

    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}

#Schedule img {
    padding: 5%;
    margin: auto;
    display: block;
    max-width: 700px;
}

.team_fontcolor{
    color: #D2D2D2;
    transform: scale(0.95);
}

.sponsor_fontcolor{
    color: #D2D2D2;
}

.team_phoneno {
    color: #D2D2D2;
    font-size: 80%;
}

.team_phoneno:hover{
    color: #D2D2D2;
}

.team{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.merch-img{
    height: 600px;
    width:auto;
}

@media screen and (max-width: 900px) {
    .merch-img{
        height: auto;
        width:auto;
    }
}

.merch-order{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 5%;
}

.merchButton{
    border-color: #000000;
    border-width: 1px;
    border-radius: 1%;
    border-style: groove;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.merchButton .container{

    flex: 1;
    display: flex;
    flex-direction: column;
}

.merchButton h4 {
    margin-top: auto;
  }

@media screen and (max-width: 900px) {
    .merch-order{
        flex-direction: column;
        align-items: center;
        
    }

    .merchButton{
        width: 90%;
    }
}